TABLEAU_SERVER=https://us-east-1.online.tableau.com
TABLEAU_SITE=nexustiendasneto
TABLEAU_CONNECTED_APP_CLIENT_ID=3cb2bf0d-697b-4217-8b8b-92f1e39c94ea
TABLEAU_CONNECTED_APP_SECRET_ID=42c84e57-8275-491e-baec-2f3f37f3fa2b
TABLEAU_CONNECTED_APP_SECRET_VALUE=jXIIrz4YoL3Zqk5aqCY0sP8M5zPr0G3U/phjGnnSIo=

FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json

BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:4200
