<!-- 📊 NetoInsight - Categorization Template -->

<!-- <app-loading-spinner 
  [show]="isLoading"
  [message]="'Cargando dashboard de Categorización para ' + getCurrentProviderName()"
  submessage="Aplicando filtros personalizados...">
</app-loading-spinner> -->

<div class="categorization-container">
  <div class="tableau-container" [style.visibility]="showDashboard ? 'visible' : 'hidden'">
    <tableau-viz 
      #tableauViz
      id='tableau-viz' 
      [src]='tableauVizUrl'
      width='100%'
      height='1240'
      hide-tabs 
      toolbar='bottom'
      (firstinteractive)="onTableauLoad($event)"
      (error)="onTableauError($event)">
    </tableau-viz>
  </div>
</div>